### NodeJS ###
/.cache
/node_modules
/build
/dist
/.cache
npm-debug.log

### Webstorm ###
.idea
*.iws
*.iml
*.ipr

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Sublime Text ###
*.sublime-workspace
